@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}

.title {
  font-family: 'Reem Kufi', sans-serif;
}

.description {
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 600px) {

}
